a {color:black;}
#editor      { white-space:pre; }
body {	font-size:12.5pt; color: #000033; font-family:'Arial'; line-height:11pt;

	)
p (font-size:12.5pt; color: #000033; font-family:'Arial'; line-height:11pt;)